<html>

<head>
    <title>Zig Zac Zoe</title>

    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap" rel="stylesheet">

</head>

<!-- Whole app body subscribes to the events stream -->

<body hx-ext="sse" sse-connect="/events">

    <!-- Add the header, that updates on game state changes -->
    <div class="header" hx-get="/header" hx-headers='js:{"x-player": getPlayer()}' hx-trigger="load, sse:update"></div>


    <!-- main app widget goes in here -->
    <div id="game" hx-get="/app" hx-headers='js:{"x-player": getPlayer()}' hx-trigger="load, sse:update"
        hx-indicator="">
        .. Game contents go in here ..
    </div>

    <!-- Add the clock in a footer here, connected to the clock event -->
    <div class="footer">Clock:
        <span class="clock" sse-swap="clock">
        </span>
        Seconds
    </div>

    <!-- hidden state variables - replace this with a single session-UUID -->
    <div class="hidden">
        Last Event <span sse-swap="update">.. last event ..</span>
        Player <span id="player" hx-swap-oob="true">
    </div>

    <script>
        // Just some minimal vanilla-JS to add a couple of helper functions
        function getPlayer() {
            const p = parseInt(document.getElementById("player").innerText);
            return isNaN(p) ? 0 : p;
        }

        function setPlayer(p) {
            document.getElementById("player").innerText = p;
        }
    </script>
</body>


</html>
