<html>

<head>
    <title>Zig Zac Zoe</title>

    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap" rel="stylesheet">

</head>

<body hx-ext="sse" sse-connect="/events">
    <div class="header" hx-get="/header" hx-headers='js:{"x-player": getPlayer()}' hx-trigger="load, sse:update"></div>
    <div class="hidden">
        Last Event <span sse-swap="update">.. last event ..</span>
    </div>
    <div class="hidden">Player <span id="player" hx-swap-oob="true"></div>
    <div id="game" hx-get="/app" hx-headers='js:{"x-player": getPlayer()}' hx-trigger="load, sse:update">
        .. Game contents go in here ..
    </div>

    <script>
        // Just some minimal vanilla-JS to add a couple of helper functions
        function getPlayer() {
            const p = parseInt(document.getElementById("player").innerText);
            return isNaN(p) ? 0 : p;
        }

        function setPlayer(p) {
            document.getElementById("player").innerText = p;
        }

        function setGridColumns(numColumns) {
            console.log("setting grid columns to", numColumns);
            var gridContainer = document.querySelector('.grid-container');
            gridContainer.style.gridTemplateColumns = `repeat(${numColumns}, minmax(50px, 1fr))`;
        }
    </script>
</body>


</html>
