body {
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.clock {
  color: yellow;
}

.header {
  color: lightblue;
  font-size: 48px;
}

.hidden {
  opacity: 0;
}

.victory {
  color: lightgreen;
  font-size: 48px;
}

.stalemate {
  color: orange;
  font-size: 48px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr); /* Sets 3 columns with equal width */
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: darkblue;
}

.grid-item:hover {
  background-color: blueviolet;
  color: yellow;
}

